<header class="bg-blue-600 shadow-sm">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">

            <svg class="flex float-right cursor-pointer" ng-click="logout()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
	            <path fill="#ffffff" d="m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5M4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4z" />
            </svg>

    <h1 class="text-3xl font-bold tracking-tight text-white">Task Management System</h1>

    </div>
  </header>
  
<div class="container">
    <h1 class="text-3xl font-bold tracking-tight">Manage Your Tasks</h1>
    
    
    <div class="filters my-[50px]">
        <select ng-model="filters.status" class="w-[25%] border border-gray-300 rounded-lg py-3 px-4 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
            <option value="">All Statuses</option>
            <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
        </select>
        
        <select ng-model="filters.priority" class="w-[25%] border border-gray-300 rounded-lg py-3 px-4 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
            <option value="">All Priorities</option>
            <option ng-repeat="priority in priorities track by $index" 
                    value="{{priority}}">
                {{priority}}
            </option>
        </select>
        
        <input type="date" ng-model="filters.deadline" class="w-[25%] border border-gray-300 rounded-lg py-3 px-4 focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">

        <a href="#!/tasks/new" class="w-[15%] bg-blue-600 text-white py-3 px-4 rounded-lg font-medium hover:bg-blue-700 transition-colors">Add New Task</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks | taskFilter:filters">
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.status}}</td>
                <td>{{task.deadline | date:'mediumDate'}}</td>
                <td>
                    <button ng-click="goToEditTask(task.id)" class="btn-edit">Edit</button>
                    <button ng-click="deleteTask(task.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    
    
    


    
</div>